
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,734;1,734&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import 'tailwindcss';

h1 {
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: -0.05em;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
}

p, li {
  font-family: Verdana, sans-serif;
  line-height: 1.75rem;
}

/* slideアニメーション: 右から出て右に消える */
.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}
.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.slide-exit {
  opacity: 1;
  transform: translateX(0);
}
.slide-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 300ms, transform 300ms;
}