@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,734;1,734&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import 'tailwindcss';


.fade-in {
  position: relative;
}

.fade-black {
  background: #000;
  opacity: 1;
  transition: opacity 0.8s ease 1s;
  z-index: 50;
}

.fade-in.loaded .fade-black {
  opacity: 0;
}

.welcome-text {
  opacity: 1;
  transition: opacity 0.8s ease 2s;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.0em;
}

.fade-in.loaded .welcome-text {
  opacity: 0;
}

html, body {
  min-width: 400px;
  min-height: 600px;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: -0.05em;
}